$red: #FD1015;
$blue: #167FFB;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;

$color-blue: #0091D2;   
$color-white: #FFFFFF;
$color-black: #222222;
$color-yellow: #FBEC51;
$color-lighter-grey: #f8f8f8;
$color-lighter-grey-border: #ececec;
$color-grey: #f4f4f4;
$color-grey-border: #dbdbdb;
$color-grey-darker: #666;