<div class='terms-modal-content'>
  <h2 class='terms-modal-main-title'>Politique de confidentialité</h2>
  <h3 class="terms-modal-title">Teqis s’engage au respect et à la protection de votre vie privée.</h3>
  <p> Cette politique explique quand et à quelles fins nous recueillons de l’information à caractère personnel 
      des visiteurs de notre site web de même que la façon dont nous la sécurisons, comment nous l’utilisons et
      dans quelles circonstances cette information pourra être divulguée à des tiers.
  </p>
  <p> Veuillez noter que nous pourrons modifier la présente politique de temps à autre pour tenir compte de notre 
      environnement juridique, économique et social et nous vous suggérons donc de revoir cette page afin de voir 
      ce en quoi elle aura été modifiée.
  </p>
  <h3 class="terms-modal-title">Comment recueillons-nous de l’information?</h3>
  <p> Nous obtenons certaines informations et renseignements personnels lors de votre visite de notre site web, par exemple lorsque
      vous vous enregistrez sur notre site web en tant qu’utilisateur et vous encodez des résultats. 
  </p>
  <h3 class="terms-modal-title">16 ANS OU MOINS?</h3>
  <p> Nous portons une attention toute particulière à la protection de la vie privée des enfants de 16 ans et
      moins. Si vous en faites partie, veuillez demander la permission préalable de votre (vos) parent(s) ou 
      tuteur ad hoc ou tiers habilité et demander son aide lorsque vous nous fournissez de l’information personnelle.
  </p>
  <h3 class="terms-modal-title">Quelle information est-elle recueillie?</h3>
  <p> L’information à caractère personnel recueillie pourra inclure votre nom, votre adresse,
      votre adresse courriel, adresse IP, de même que de l’information à propos des pages web
      que vous visitez (par exemple savoir quelles pages et quand elles sont visitées).
  </p>
</div>