<div data-controller='dropdown' class='dropdown'>
  <%= button %>
  <div data-target='dropdown.popup' class='dropdown-content'>
    <% content.each do |element| %>
      <%= element %>
    <% end %>
  </div>
</div>