<div class='form-flex space-between'>
    <%= select_year(max_date, {start_year: max_date, end_year: min_date}, 
                            {data: {target: 'filter.year', action: 'filter#selectYear'}})%>
    <div>
      <div class='form-flex'>
        <div class='autocomplete' data-target='autocomplete.wrapper'>
          <input class='form-control string' style='width:300px' autocomplete='off' data-target='filter.playerInput autocomplete.autocomplete' data-action='input->autocomplete#autocomplete' type='text'>
        </div>
        <button class='btn' data-action='click->filter#selectYear'> Charger</button>
      </div>
    </div>
</div>