<div class='display-flex space-between'>
    <div>
      <div class='display-flex'>
        <div class='autocomplete' data-target='autocomplete.wrapper'>
            <input class='player-search' placeholder='Cherche un joueur' autocomplete='off' data-target='filter.playerInput autocomplete.autocomplete' data-action='input->autocomplete#autocomplete' type='text'>
        </div>
        <div class='search-btn'>
          <i class='fas fa-search search-icon' data-action=<%= (search_type == 'compare' ? 'click->filter#selectComparisons' : (search_type == 'games' ? 'click->filter#selectGames' : 'click->filter#selectStats')) %>></i>
        </div>
      </div>
    </div>
    <%= select_year(max_date, {start_year: max_date, end_year: min_date, include_blank: true}, 
                              {class: 'select-year', data: {target: 'filter.year', action: (search_type == 'compare' ? 'filter#selectComparisons' : (search_type == 'games' ? 'filter#selectGames' : 'filter#selectStats'))}})%>
</div>