<% content_for :meta_title, "Teqis - Consulte ton historique de classements de tennis" %>
<% content_for :meta_description, "Consulte l'évolution de ton classement au travers des années." %>

<div class='container'>
  <%= render 'ranking_history_info' %>
</div>