<div id='banner'>
    <h1 id='banner-cta'>Enregistre, analyse et compare <br> tes résultats de tennis en un instant</h1>
    <a href='<%= new_user_registration_path %>' id='banner-button'>Inscris-toi</a>
</div>

<div class='container'>
    <div class='explainer display-flex space-between'>
        <div class='explainer-text display-flex align-center'>
            <div>
                <p> Sauvegardez vos résultats au fil des années sans risque de les perdre. </p>
                <p> Nous garantissons la continuité des données à vie. </p>
                <p> Vous pourrez ainsi suivre votre evolution au fil des ans  </p>
            </div>
        </div>
        <div class='explainer-img-block'>
            <img class='explainer-img' src="https://source.unsplash.com/random/800x600">
        </div>
    </div>

     <div class='explainer display-flex space-between'>
        <div class='explainer-img-block'>
            <img class='explainer-img' src="https://source.unsplash.com/random/800x600">
        </div>
        <div class='explainer-text display-flex align-center'>
            <div>
                <p> Analysez vos résultats avec toute une série de statistiques mises à disposition. </p>
                <p> Ratio de victoires par type de surface, classement, nombre de sets, etc </p>
            </div>
        </div>
    </div>

    <div class='explainer display-flex space-between'>
        <div class='explainer-text display-flex align-center'>
            <div>
                <p> Comparez vos résultats avec vos amis ou d'autres joueurs. </p>
                <p> Cela vous permettra de vous situer par rapport à d'autres joueurs en quelques clics. </p>
            </div>
        </div>
        <div class='explainer-img-block'>
            <img class='explainer-img' src="https://source.unsplash.com/random/800x600">
        </div>
    </div>

</div>