<div id='banner'>
    <h1 id='banner-cta'>Enregistre, analyse et compare <br> tes résultats de tennis en un instant</h1>
    <a href='<%= new_user_registration_path %>' id='banner-button'>Inscris-toi</a>
</div>