<div id='banner'>
    <div>
        <h1 id='banner-cta'>Enregistre, analyse et compare <br> tes résultats de tennis en un instant</h1>
        <a href='<%= new_user_registration_path %>' id='banner-button'>Inscris-toi</a>
    </div>
</div>

<div class='container'>
    <div class='explainer display-flex space-between'>
        <div class='explainer-text display-flex align-center'>
            <div>
                <p> <em> Sauvegarde </em> tes résultats sans risque de les perdre. </p>
                <p> Nous garantissons la continuité des données à vie. </p>
                <p> Tu pourras ainsi suivre ton évolution au fil des ans  </p>
            </div>
        </div>
        <div class='explainer-img-block'>
            <%= cl_image_tag('save_iuytch.png', class: 'explainer-img') %>
        </div>
    </div>

     <div class='explainer display-flex space-between'>
        <div class='explainer-img-block'>
            <%= cl_image_tag('stats_qkbrnj.png', class: 'explainer-img') %>
        </div>
        <div class='explainer-text display-flex align-center'>
            <div>
                <p> <em> Analyse </em> tes résultats avec toute une série de statistiques mises à disposition. </p>
                <p> Ratio de victoire/défaites par type de surface, classement, tie-breaks gagnés, etc </p>
            </div>
        </div>
    </div>

    <div class='explainer display-flex space-between'>
        <div class='explainer-text display-flex align-center'>
            <div>
                <p> <em> Compare </em> tes résultats avec tes amis ou n'importe quel autre joueur(euse). </p>
                <p> Cela te permettra en quelques clics de te situer vis-à-vis d'autres joueurs(euses). </p>
            </div>
        </div>
        <div class='explainer-img-block'>
          <%= cl_image_tag('compare_qfp0dd.png', class: 'explainer-img') %>
        </div>
    </div>

</div>