<div id='banner'>
    <h1 id='banner-cta'>Enregistre, analyse et compare <br> tes résultats de tennis en un instant</h1>
    <a href='<%= new_user_registration_path %>' id='banner-button'>Inscris-toi</a>
</div>

<div class='container'>
    <div class='explainer display-flex space-between'>
        <div class='explainer-text display-flex align-center'>
            <div>
                <p> <em> Sauvegardez </em> vos résultats au fil des années sans risque de les perdre. </p>
                <p> Nous garantissons la continuité des données à vie. </p>
                <p> Vous pourrez ainsi suivre votre evolution au fil des ans  </p>
            </div>
        </div>
        <div class='explainer-img-block'>
            <%= cl_image_tag('save_iuytch.png', class: 'explainer-img') %>
        </div>
    </div>

     <div class='explainer display-flex space-between'>
        <div class='explainer-img-block'>
            <%= cl_image_tag('stats_qkbrnj.png', class: 'explainer-img') %>
        </div>
        <div class='explainer-text display-flex align-center'>
            <div>
                <p> <em> Analysez </em> vos résultats avec toute une série de statistiques mises à disposition. </p>
                <p> Ratio de victoires par type de surface, classement, nombre de sets, etc </p>
            </div>
        </div>
    </div>

    <div class='explainer display-flex space-between'>
        <div class='explainer-text display-flex align-center'>
            <div>
                <p> <em> Comparez </em> vos résultats avec vos amis ou d'autres joueurs. </p>
                <p> Cela vous permettra de vous situer par rapport à d'autres joueurs en quelques clics. </p>
            </div>
        </div>
        <div class='explainer-img-block'>
          <%= cl_image_tag('compare_qfp0dd.png', class: 'explainer-img') %>
        </div>
    </div>

</div>