<% if player.present? %>
  <h1 class='page-header'><%= "Résulats - #{player.player_description}" %> </h1>
  <% unless tournaments.blank? %>
    <h3 class='competition-type'> Tournois </h2>
    <% tournaments.each do |tournament| %>
      <div class='tournament'>
        <%= render 'competition_card.html.erb', competitions: tournaments, competition: tournament, competition_type: 'tournament' %>
      </div>
    <% end %>
  <% end %>

  <% unless interclubs.blank? %>
    <h3 class='competition-type'> Interclubs </h2>
    <% interclubs.each do |interclub| %>
      <div class='interclub'>
        <%= render 'competition_card.html.erb', competitions: interclubs, competition: interclub, competition_type: 'interclub' %>
      </div>
    <% end %>
  <% end %>
<% else %>
  <h1 class='page-header'>Joueur non disponible</h1>
<% end %>