<h3 id='player-name'><%= structured_output.first[:games].first[:player_name] %></h3>
<% structured_output.each do |tournament| %>
  <div class='tournament'>
    <%= render 'tournament_card.html.erb', structured_output: structured_output, tournament: tournament %>
  </div>
<% end %>
