<% content_for :meta_title, "Teqis - Enregistre tes résultats de tennis" %>
<% content_for :meta_description, "Enregistre en quelques secondes tes résultats de tournois ou d'interclubs" %>

<div class='container'>
  <div class='form-container'>
    <%= render 'game_form' %>
  </div>
</div>