#player-name {
  margin: 3.5vh 0px;
  color: $color-blue;
  font-size: calc(7px + 1.8vw);
}

.competition-type {
  margin: 2vh 0px;
  color: $color-blue;
  font-size: calc(5px + 1.4vw);
}

.tournament {
  margin: 3vh 0px;
}

.interclub {
  margin: 3vh 0px;
}

.tournament-header {
  border-top: 1px solid $color-grey-border;
  border-bottom: 1px solid $color-grey-border;
  padding: 1% 1%;
  background: $color-grey;
  color: $color-blue;
}

// Table CSS

.tournament-table {
  width: 100%;
  table-layout: fixed;
}

.tournament-table th {
  padding: 0.5% 0.5%;
  background-color: $color-lighter-grey;
  border-bottom: 1px solid $color-lighter-grey-border;
  font-size: calc(4px + 0.5vw);
  color: $color-blue;
  vertical-align: middle;
  text-align: center;
}

.tournament-table tr {
  font-size: calc(4px + 0.5vw);
  border-bottom: 1px solid $color-lighter-grey-border;
  vertical-align: middle;
  text-align: center;
}

.th-round{
  width: 10%;
}

.th-ranking{
  width: 10%;
}

.th-opponent{
  width: 30%;
}

.th-victory{
  width: 10%;
}

.th-status{
  width: 15%;
}

.th-score{
  width: 15%;
}

.th-actions{
  width: 10%;
}

.tournament-name {
  font-size: calc(5px + 0.9vw);
  font: bolder;
}

.tournament-date {
  font-size: calc(5px + 0.9vw);
  font: bolder;
}

.tournament-category {
  font-size: calc(4px + 0.5vw);
  padding: 0px;
  margin: 0px;
}

.tournament-action {
  padding: 0px 5px;
  color: $color-grey-darker;
  &:hover {
    color: $color-yellow;
  }
}