.autocomplete {
  position: relative;
  display: block;
}

.autocomplete-popup {
  position: absolute;
  border: 1px solid $color-grey;
  border-radius: 5px;
  box-shadow: 0 10px 30px rgba(0,0,0,.1);
  z-index: 99;
  /*position the autocomplete items to be the same width as the container:*/
  top: 130%;
  left: 0;
  right: 0;
}
.autocomplete-popup div {
  padding: 10px;
  cursor: pointer;
  background-color: $color-grey;
  color: $color-grey-darker;
}
.autocomplete-popup div:hover {
  /*when hovering an item:*/
  background-color: $color-grey-border;
}
.autocomplete-active {
  /*when navigating through the items using the arrow keys:*/
  background-color: DodgerBlue !important;
  color: #ffffff;
}