.select-year {
  box-sizing: border-box;
  border: 3px solid $color-grey;
  background: $color-grey;
  color: $color-grey-darker;
  border-radius: 5px;
  font-size: calc(6px + 1vw);
  padding: 0px 8px;
  cursor: pointer;
  &:focus {
    outline: none;
  }
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.player-search {
  position: relative;
  height: calc(10px + 4vh);
  width: calc(125px + 20vw);
  padding: 5% 10%;
  font-size: calc(6px + 1vw);
  color: $color-grey-darker;
  background: $color-grey;
  border-style: none;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
  margin-right: 0px;
  &:focus {
    outline: none;
  }
}

.base-btn {
  width: 50%;
  background-color: $color-blue;
  color: $color-white;
  border-radius: 5px;
  padding: 7px 30px;
  margin-top: 15px;
  &:hover {
    color: $color-yellow;
  }
}

.secondary-btn {
  width: 50%;
  background-color: $color-white;
  color: $color-blue;
  border: 2px solid $color-blue;
  border-radius: 5px;
  padding: 7px 40px;
  margin-left: 10px;
   margin-top: 15px;
  &:hover {
    color: $color-yellow;
  }
}

.search-btn{
  position: relative;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  background-color: $color-yellow;
  border-color: $color-yellow;
  width: calc(25px + 2vw);
  cursor: pointer;
}

.search-icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: $color-white;
  cursor: pointer;
  font-weight: bold;
  font-size: calc(4px + 1vw);
}