.select-year {
  box-sizing: border-box;
  height: 40px;
  padding: 3px;
  border: 3px solid $color-grey;
  background: $color-grey;
  color: $color-grey-darker;
  font-weight: bold;
  border-radius: 5px;
  font-size: 16px;
  padding: 0px 8px;
  cursor: pointer;
  &:focus {
    outline: none;
  }
}

.player-search {
  position: relative;
  height: 40px;
  width: 400px;
  padding: 5px 20px 5px 35px;
  color: $color-grey-darker;
  background: $color-grey;
  border-style: none;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  margin-right: 0px;
  font-weight: bold;
  &:focus {
    outline: none;
  }
}

.base-btn {
  width: 50%;
  background-color: $color-blue;
  color: $color-white;
  border-radius: 5px;
  padding: 7px 40px;
  margin-top: 15px;
  &:hover {
    color: $color-yellow;
  }
}

.secondary-btn {
  width: 50%;
  background-color: $color-white;
  color: $color-blue;
  border: 2px solid $color-blue;
  border-radius: 5px;
  padding: 7px 40px;
  margin-left: 10px;
   margin-top: 15px;
  &:hover {
    color: $color-yellow;
  }
}

.search-btn {
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  height: 40px;
  line-height: 40px;
  vertical-align: middle;
  background-color: $color-yellow;
  border-color: $color-yellow;
  color: $color-white;
  margin-left: 0px;
  padding: 0px 15px;
  cursor: pointer;
  font-weight: bold;
  font-size: 16px;
}