.navbar-tennis {
  position:fixed; top: 0px; left: 0px; width: 100%;
  z-index: 100;
  height: 75px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 10px;
  background: linear-gradient(
    294.52deg
    ,#1e2886 -55.01%,#0091d2 67.8%);
}

.navbar-right-section {
  display: flex; 
  align-items: center;
}

.navbar-link {
 margin-right: 10px;
 color: $color-white;
 font-size: calc(10px + 0.5vw);
 &:hover {
  color: $color-yellow;
 }
}

.navbar-logo {
  height: 60px;
}

.navbar-points {
  margin: 7px 5px;
  border: 2px solid $color-yellow;
  color: $color-white;
  padding: 5px calc(3px + 0.8vw);
  border-radius: 5px;
  font-size: calc(8px + 0.8vw);
}

.navbar-sandwich, .navbar-plus, .navbar-check {
  display: none;
  margin: 7px 5px;
  width: 30px;
  color: $color-white;
}

.navbar-collapsable {
  display: flex;
  align-items: center;
}

@media screen and (max-width: 680px) {
  .navbar-logo {
    height: 40px;
  }

  .avatar {
    width: 40px;
    height: 40px;
  }

  .navbar-collapsable {
    display: none;
  }

  .navbar-sandwich {
    display: block;
  }

  .navbar-plus {
    display: block;
  }

  .navbar-check {
    display: block;
  }
}