// General Stats

.compare-header {
    margin: 5vh 0px;
    .wins-losses-div {
      margin-left: 15px;
    }
  }
  
.compare-block {
  padding-top: 5px;
  padding-bottom: 5px;
  padding-right: 5vmin;
  padding-left: 5vmin;
  box-shadow: 0 10px 30px rgba(0,0,0,.1);
  margin-bottom: 15px;
}

.compare-avatar-img {
  width: 20vmin;
  height: 20vmin;
  display: block;
  margin: auto auto;
}

.compare-avatar-img-round {
  width: 20vmin;
  height: 20vmin;
  padding: 0px 0px;
  display: block;
  margin: auto auto;
  border-radius: 50%;
}

.compare-block.first-block {
  margin: 5vh 0px;
}

.compare-avatar-block {
  width: 20vw;
}

.compare-player-name {
  font-size: calc(5px + 1.4vw);
  color: $color-blue;
  font-weight: bold;
  text-align: center;
  margin-top: 3vh;
  margin-bottom: 0px;
}

.compare-category-title {
  font-size: calc(5px + 1.4vw);
  color: $color-blue;
  font-weight: bold;
  margin: 20px 0px;
}

.compare-element {
  list-style-type: none;
  margin: 10px 0px;
  padding-left: 0px;
}

.compare-table {
  margin: 0 auto;
}

.compare-table tr {
  font-size: calc(5px + 1vw);
  vertical-align: middle;
  text-align: center;
}

.compare-table td {
  padding: 0 2vw;
}

.compare-table td.positive {
  color: $color-blue;
}

.compare-table td.negative {
  color: $color-yellow;
}

.compare-element li {
  margin: auto 0px;
  text-align: center;
  padding: 1vh 2vw;
  font-size: calc(5px + 1vw);
  font-weight: bold;
  color: $color-grey-darker;
}

.compare-element li.stat {
  width: calc(50px + 8vw);
}

.compare-element li.positive {
  background-color: $color-blue;
  color: $color-yellow;
}

.compare-element li.negative {
  background-color: $color-yellow;
  color: $color-blue;
}