// General Stats

.stats-header {
  margin: 2vh 0px;
  padding: 0 10%;
}

.stats-block {
  padding-top: 5px;
  padding-bottom: 5px;
  padding-right: 5vmin;
  padding-left: 5vmin;
  box-shadow: 0 10px 30px rgba(0,0,0,.1);
  margin-bottom: 15px;
}

.stats-avatar-img-div {
  padding-top: calc(5px + 1vw);
}

.stats-avatar-img {
  width: 23vmin;
  height: 23vmin;
  display: block;
  margin: auto auto;
}

.stats-avatar-img-round {
  width: 23vmin;
  height: 23vmin;
  padding: 0px 0px;
  display: block;
  margin: auto auto;
  border-radius: 50%;
}

.stats-category-img {
  width: 15vmin;
  height: 15vmin;
  padding: 0px 0px;
  display: block;
  margin: auto auto;
  margin-bottom: 5px;
}

.stats-category {
  width: 100%;
  margin-bottom: 3vmin;
  margin-top: 3vmin;
  padding: 0 3vmin;
}

.stats-category-tournament {
  width: 100%;
  margin-bottom: 30px;
  margin-top: 15px;
}

.stats-category-tournament ul {
  padding-top: 10px;
  padding-left: 0px;
  list-style-type: none;
}

.stats-category-tournament li {
  color: $color-blue;
  font-size: calc(4px + 0.8vw);
}

.stats-category-title {
  font-size: calc(5px + 1.4vw);
  color: $color-blue;
  font-weight: bold;
  margin: 20px 0px;
}

.stats-category-name {
  font-size: calc(4px + 0.7vw);
  color: $color-blue;
  font-weight: bold;
  margin: auto 0px;
  text-align: center;
}

.stats-category-description {
  margin: auto 0;
  margin-right: 5vmin;
  width: 50%
}

.stats-category-tournament .stats-category-description {
  width: 30%;
}

.stats-category-tournament-details {
  width: 70%;
}

.stats-category-saved, .stats-category-missed {
  width: 15vmin;
  height: 15vmin;
  
  line-height: 15vmin;
  margin: auto auto;
  text-align: center;
  font-size: calc(7px + 5vw);
}

.stats-category-saved-container {
  width: 50%;
}

.stats-category-saved {
  color: $color-yellow;
  background-color: $color-blue;
}

.stats-category-missed {
  color: $color-blue;
  background-color: $color-yellow;
}

// Ranking

.stats-ranking-mobile {
  display: none;
}

@media screen and (max-width: 700px) {
  .stats-ranking-desktop {
    display: none;
  }

  .stats-ranking-mobile {
    display: block;
  }
}

.stats-ranking-mobile-card {
  list-style-type: none;
  height: 30px;
  margin: 10px 0px;
  padding-left: 15px;
  padding-right: 15px;
}

.stats-ranking-mobile-card  :last-child {
  text-align: right;
}

.stats-ranking-mobile-card li {
  font-size: calc(5px + 1vw);
  width: calc(30px + 6vw);
  margin: auto 0px;
}

.stats-ranking-mobile-card.positive {
  background-color: $color-blue;
  color: $color-yellow;
}

.stats-ranking-mobile-card.equal {
  box-shadow: 0 10px 30px rgba(0,0,0,.3);
}

.stats-ranking-mobile-card.negative {
  background-color: $color-yellow;
  color: $color-blue;
}

#stats-ranking-bar-chart {
  width: 100%;
  height: 300px;
}

// Wins-Losses Cards

#stats-header-donut-chart {
  width: 20vmin;
  height: 20vmin;
}

.stats-category-donut-chart {
  width: 15vmin;
  height: 15vmin;
}

.wins-losses-div { 
  margin-left: 25px;
}

.wins-losses-div em {
  color: $color-yellow;
  font-style: normal;
  font-weight: bold;
}


.wins-number, .wins-percentage {
  color: $color-blue;
}

.wins-number, .losses-number {
  font-weight: bold;
  margin-bottom: 0px;
  text-align: center;
}

.wins-percentage, .losses-percentage {
  font-weight: bold;
  text-align: center;
}

.losses-number, .losses-percentage {
  color: $color-yellow;
}

.wins-losses-title {
  margin-bottom: 0px;
  color: $color-blue;
  font-weight: bold;
  text-align: center;
  overflow: hidden;
  white-space: nowrap;
}

.wins-losses-div.header {
  .wins-losses-title {
    font-size: calc(5px + 1vw);
  }
  .wins-percentage, .losses-percentage {
    font-size: calc(5px + 0.8vw);
  }
  .wins-number, .losses-number {
    font-size: calc(10px + 4vw);
  }
}

.wins-losses-div.category {
  width: 50%;
  .wins-losses-title {
    font-size: calc(4px + 0.8vw);
  }
  .wins-percentage, .losses-percentage {
    font-size: calc(4px + 0.6vw);
  }
  .wins-number, .losses-number {
    font-size: calc(6px + 3vw);
  }

  .wins-losses-numbers-div { 
    width: 4vw;
  }
}
