.validation-title {
  color: $color-blue;
  margin-bottom: 30px;
}

// Table

.validation-table {
  width: 100%;
}

.validation-table th {
  padding: 8px 5px;
  background-color: $color-lighter-grey;
  border-bottom: 1px solid $color-lighter-grey-border;
  font-size: 12px;
  color: $color-blue;
  vertical-align: middle;
  text-align: center;
}

.validation-table tr {
  padding: 8px 5px;
  border-bottom: 1px solid $color-lighter-grey-border;
  vertical-align: middle;
  text-align: center;
}