.validation-title {
  margin: 2vh 0px;
  color: $color-blue;
  font-size: calc(5px + 1.4vw);
}

// Table

.validation-table {
  width: 100%;
}

.validation-table th {
  padding: 0.5% 0.5%;
  background-color: $color-lighter-grey;
  border-bottom: 1px solid $color-lighter-grey-border;
  font-size: calc(4px + 0.8vw);
  color: $color-blue;
  vertical-align: middle;
  text-align: center;
}

.validation-table tr {
  font-size: calc(4px + 0.8vw);
  border-bottom: 1px solid $color-lighter-grey-border;
  vertical-align: middle;
  text-align: center;
}