// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap/scss/bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";
@import 'mapbox-gl/dist/mapbox-gl';

// SCSS Variables
$color-blue: #0073B2;
$color-white: #FFFFFF;
$color-grey: #F2F2F2;
$color-yellow: #D7D700;

// CSS partials
@import "components/index";
@import "pages/index";

// General CSS

body {
    padding-top: 100px;
    font-family: $body-font;
    background-color: $color-white;
}

a {
    text-decoration: none;
    &:hover  {
      text-decoration: none !important;
    }
  }

.display-flex {
  display: flex;
}

.space-between {
  justify-content: space-between;
}