// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap/scss/bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";
@import 'mapbox-gl/dist/mapbox-gl';

// CSS partials
@import "components/index";
@import "pages/index";
@import "games/index";
@import "devise/index";

// General CSS
body {
    padding-top: 100px;
    font-family: $body-font !important;
    background-color: $color-white;
}

a {
    text-decoration: none;
    &:hover  {
      text-decoration: none !important;
    }
  }

.display-flex {
  display: flex;
}

.space-between {
  justify-content: space-between;
}

.justify-center {
  justify-content: center;
}

.align-center {
  align-items: center;
}