<p>Bonjour <%= @resource.player.first_name %>!</p>

<p>Quelqu'un a sollicité un lien pour changer votre password. Vous pouvez le faire a travers le lien ci-dessous:</p>

<p><%= link_to 'Changer mon password', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>Veuillez ignorer cet email si vous n'avez pas solicité ce changement.</p>
<p>Votre password ne va pas changer avant que vous accédiez au lien ci-dessus et en créiez un nouveau.</p>
