<p><%= @nbr_successful %> tournoi(s) sur  <%= @nbr_total %> disponibles ajouté(s) avec succès à la base de données </p>

<p>Le rapport d'erreur complet est disponible en pièce jointe au fomat .CSV</p>